
body {
    background-color:snow
}

* {
    padding: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    padding-left: 50px;

}

form {
    margin-top: 30px;
}



#form-validacao, h1 {
    display: block;
    padding: 8px;
    width: 100%;
    margin-left: 400px;
}

button {
    background-color:rgb(31, 2, 53);
    border: none;
    text-transform: uppercase;
    color:rgb(34, 146, 34);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 290px;
}

button:hover {
    background-color: rgb(203, 147, 243);
}

